{
  "jsc": {
    "target": "es2017",
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "runtime": "automatic"
      }
    }
  }
}
